In [18]:
import numpy as np
import pandas as pd

In [19]:
products = pd.Series([70000, 1500, 3000], index = ["Laptop", "Mouse", "Keyboard"])
products    #prints full series

Laptop      70000
Mouse        1500
Keyboard     3000
dtype: int64

In [20]:
products.loc["Laptop"]      #Label based access

np.int64(70000)

In [21]:
products.iloc[:2]           #Slicing first 2 products

Laptop    70000
Mouse      1500
dtype: int64

In [23]:
products

Laptop      70000
Mouse        1500
Keyboard     3000
dtype: int64

In [32]:
import numpy as np
import pandas as pd

In [33]:
grades = pd.Series([85, None, 92, 45, None, 78, 55])
grades

0    85.0
1     NaN
2    92.0
3    45.0
4     NaN
5    78.0
6    55.0
dtype: float64

In [34]:
grades.isnull()

0    False
1     True
2    False
3    False
4     True
5    False
6    False
dtype: bool

In [35]:
filled_grades = grades.fillna(0)
filled_grades

0    85.0
1     0.0
2    92.0
3    45.0
4     0.0
5    78.0
6    55.0
dtype: float64

In [36]:
filled_grades[filled_grades>60]

0    85.0
2    92.0
5    78.0
dtype: float64

In [37]:
grades

0    85.0
1     NaN
2    92.0
3    45.0
4     NaN
5    78.0
6    55.0
dtype: float64

In [38]:
import numpy as np
import pandas as pd

In [39]:
usernames = pd.Series([' Alice ', 'bOB', ' Charlie_Data ', 'daisy'])
usernames

0            Alice
1               bOB
2     Charlie_Data
3             daisy
dtype: object

In [40]:
cleaned = usernames.str.strip()
cleaned

0           Alice
1             bOB
2    Charlie_Data
3           daisy
dtype: object

In [41]:
new_names = cleaned.str.lower()
new_names

0           alice
1             bob
2    charlie_data
3           daisy
dtype: object

In [42]:
new_names.str.contains('a')

0     True
1    False
2     True
3     True
dtype: bool